:root{
    --secondary-purple: #b395ba;
    --primary-salmon: salmon;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 150px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: rgb(209, 209, 209);
}
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: salmon;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(252, 113, 97);
  }
  
.Services i{
    width: 100%;
    text-align: center;
}
.Services .row{
    margin-top: 20px;
}
.Services-wrapper{
 
}
.icon-services{
    width: 100px;
}
.Services-wrapper h1{
    color: var(--primary-salmon);
}
.Services-Banner{
    width: 100%;
}
.top{
    background: rgb(2,0,36);
    width: 100%;
    background-color: black;
}
.topbar-container{
    background-color: black;
}
.topbar-rightContainer{
    background-color: black;
    right: 150px;
    position: absolute;
    float: right;
}
.topbar{
    background-color: black;
    height: 100px;
    z-index: 2;
    width: 100%;
}
.topbar ul{
    list-style: none;
}
.topbar-logo{
    left: 150px;
    position: absolute;
    float: left;
}
.topbar-logo a img{
    width: 15%;
    float: left;
}
.whatWeOffer{
    padding-top: 0px;
}
.topbar-phonenumber{
    color: white;
}
.topbar-logo h1{
    padding-top: 25px;
    float: left;
}
.topbar ul li{
    padding-right: 20px;
    display: inline-block;
}
.topbar nav{
    padding-right: 50px;
    float: right;
}
.topbar ul li a{
    color: salmon;
    text-decoration: none;
}
.home-background-main{
    z-index: 10;
    text-align: center;
    
}
.home-background-main h1{
    padding-top: 320px;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: salmon;
    text-align: center;
    font-family: Montserrat,Helvetica,Arial;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 2px;
    /*animation: expandh1;
    animation-duration: 2s;*/
}
.home-background-main h2{
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
    font-family: Montserrat,Helvetica,Arial;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.home-background-main a{
    color: purple;
    font-weight: 600;
}
body{
    margin: 0px;
}

.btn-learnmore{
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 100px;
}
.btn-learnmore span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-learnmore span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;    
}
.btn-learnmore:hover span{
    padding-right: 25px;
}
.btn-learnmore:hover span:after {
    opacity: 1;
    right: 0;
}
.home-columns:last-child{
    background-color: #f0efef !important;
}

.rslides {
    position: absolute;
    z-index: -3;
    height: 800px;
    list-style: none;
    overflow: hidden;
    width: 100%;
    transition: ease-in-out 1s;
    padding: 0;
    margin: 0;
}
  
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

hr{
    margin: 0px 0px 0px 0px;
}
.about-Enlock-Home{
    height: 900px;
    background-color: var(--secondary-purple);
    margin: 0px 0px 0px 0px;
}
.about-Enlock-Home-text{
    float: left;
}
.about-Enlock-Home h1{
    color: white;
}
.about-Enlock-Home img{
    position: absolute;
    width: 33%;
    right: 0px;
}
.about-Enlock-Home h4{
    color: white;
    margin-bottom: 0px;
}
.home-columns{
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
.home-columns img{
    text-align: center;
    width: 30%;

}
.im-interested{
    margin-left: 37%;
    margin-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.share-button {
    text-align: center;
    width: 280px;
    height: 80px;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
  }
  .share-button:hover{
    transform: scale(1.1);
  }
  .share-button span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2d3436;
    color: #f1f1f1;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .2s linear;
    border-radius: 40px;
   
  }
  .share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .1s;
  }
  .share-button a {
    flex: 1;
    font-size: 20px;
    color: #2d3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s linear;
  }
  .share-button:hover a {
      text-decoration: none;
    opacity: 1;
    transform: translateX(0);
  }
  .share-button a:nth-of-type(1){
    transition-delay: 0.1s;
  
  }
  .overlay-container{
      background-color: rgb(240, 240, 240);
  }
  .row:first-of-type{
      padding-top: 30px;
    margin-top: 0px;
  }
  .about-page{

  }
@keyframes breath {
    0%   { width: 100% auto; }
    50% { width: 110% auto; }
    100% { width: 100% auto; }
}