:root{
    --secondary-purple: #b395ba;
    --secondary-purple-dark: #8f7894;
    --primary-salmon: salmon;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: rgb(209, 209, 209);
}
.bio{
    padding: 10px;
    color: white;
}
.about-header{
    text-align: center;
    background: var(--primary-salmon);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.top{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 18%, rgba(0,0,0,1) 100%);
    width: 100%;
    position: absolute;
    background-color: transparent;
}
.topbar-container{
    margin-top: 30px;
    height: 150px;
}
.topbar-rightContainer{
    right: 150px;
    position: absolute;
    float: right;
}
.topbar{
    z-index: 2;
    width: 100%;
}
.topbar ul{
    list-style: none;
}
.topbar-logo{
    left: 150px;
    position: absolute;
    float: left;
}
.topbar-logo a img{
    width: 15%;
    float: left;
}
.topbar-phonenumber{
    color: white;
}
.topbar-logo h1{
    padding-top: 25px;
    float: left;
}
.topbar ul li{
    padding-right: 20px;
    display: inline-block;
}
.topbar nav{
    padding-right: 50px;
    float: right;
}
.topbar ul li a{
    color: salmon;
    text-decoration: none;
}
.home-background-main{
    z-index: 10;
    text-align: center;
    
}
.home-background-main h1{
    padding-top: 320px;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: salmon;
    text-align: center;
    font-family: Montserrat,Helvetica,Arial;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 2px;
    /*animation: expandh1;
    animation-duration: 2s;*/
}
.home-background-main h2{
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
    font-family: Montserrat,Helvetica,Arial;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.home-background-main a{
    color: purple;
    font-weight: 600;
}
body{
    margin: 0px;
}
.whatWeOffer-Button{
    animation: breath 3s infinite;
    text-align: center;
}
.opening-statement{
    margin-top: 300px;
    padding-top: 50px;
    text-align: center;
}
.whatWeOffer{
    padding-top: 50px;
    text-align: center;
}
.whatWeOffer h1{
    color: salmon;
}
.whatWeOfferPT2{
    padding-top: 50px;
    background-color: var(--secondary-purple);
    color: white;
}
.whatWeOfferPT2 img{
    width: 50px;
    padding-bottom: 20px;
}
.btn-learnmore{
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 100px;
}
.btn-learnmore span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-learnmore span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;    
}
.btn-learnmore:hover span{
    padding-right: 25px;
}
.btn-learnmore:hover span:after {
    opacity: 1;
    right: 0;
}
.home-columns:last-child{
    background-color: #f0efef !important;
}

.rslides {
    position: absolute;
    z-index: -3;
    height: 800px;
    list-style: none;
    overflow: hidden;
    width: 100%;
    transition: ease-in-out 1s;
    padding: 0;
    margin: 0;
}
  
.rslides li {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

hr{
    margin: 0px 0px 0px 0px;
}
.about-Enlock-Home{
    height: 700px;
    background-color: var(--secondary-purple);
    margin: 0px 0px 0px 0px;
}
.about-Enlock-Home h1{
    color: white;
}
.about-Enlock-Home img{
    height: 600px;
}
.about-Enlock-Home h4{
    color: white;
    margin-bottom: 0px;
}
.about-Enlock-Home:last-child{
    background-color: var(--secondary-purple-dark);
}
.home-columns{
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
.home-columns img{
    text-align: center;
    width: 30%;

}

.Services-Banner{
    width: 1%;
}
.Copyright-Statement{
    margin-top: 20px;
    margin-left: 20px;
}
.contact-button{
    background-color: white;
    outline: white;
    box-shadow: transparent;
}
  
@keyframes breath {
    0%   { width: 100% auto; }
    50% { width: 110% auto; }
    100% { width: 100% auto; }
  }